* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  text-decoration: none;
  list-style: none;
  overflow: hidden;
  font-family: 'Fira Mono', monospace;
}

.landingPage header {
  width: 100vw;
  height: 4.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.2);
}

.landingPage header .title {
  font-size: 2.5vw;
  font-weight: 500;
  margin-left: 2vw;
  text-decoration: none;
  color: #090909;
}

.landingPage header .mail {
  font-size: 1vw;
  font-weight: 500;
  margin-right: 8vw;
  text-decoration: none;
  color: #090909;
}

.landingPage .landingContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 80vw;
  margin: auto;
}

.landingPage .landingContent .basicForm {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 50%;
  margin-top: 12vw;
  padding-left: 3vw;
}

.landingPage .landingContent .basicForm h4 {
  font-size: 2vw;
  font-weight: 500;
  margin-bottom: 1.7vw;
}

.landingPage .landingContent .basicForm h6 {
  width: 28vw;
  font-size: 1.2vw;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 2vw;
}

.landingPage .landingContent .basicForm form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2vw;
}

.landingPage .landingContent .basicForm form input {
  width: 20vw;
  height: 3vw;
  letter-spacing: 1px;
  padding-left: 1vw;
  margin-right: 1vw;
  border: 1px solid #707070;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 6px 9px #00000029;
          box-shadow: 0px 6px 9px #00000029;
  border: 1px solid #707070;
  border-radius: .4vw;
  outline: none;
}

.landingPage .landingContent .basicForm form button {
  width: 10vw;
  height: 3vw;
  letter-spacing: 2px;
  color: #f2f2f2;
  background: #000000 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 6px 9px #00000029;
          box-shadow: 0px 6px 9px #00000029;
  border: 1px solid #707070;
  border-radius: .4vw;
  outline: none;
  cursor: pointer;
}

.landingPage .landingContent .basicForm .apps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.landingPage .landingContent .basicForm .apps .appStores {
  width: 10vw;
  height: 3vw;
  margin-right: .5vw;
  border-radius: .2vw;
}

.landingPage .landingContent .basicForm .apps .appStores img {
  width: 100%;
  height: auto;
  border-radius: .2vw;
}

.landingPage .landingContent .banner {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 50%;
}

.landingPage .landingContent .banner .bannerImg {
  -webkit-transform: translateY(16%);
          transform: translateY(16%);
  width: 30vw;
  height: 30vw;
  margin: auto;
  background-color: #FFDE59;
  border-radius: 50%;
}

.landingPage .landingContent .banner .bannerImg img {
  width: 100%;
  height: auto;
}

.landingPage .landingContent .banner .mobNum {
  float: right;
  margin-top: 7vw;
  margin-right: 3vw;
  text-decoration: none;
  color: #090909;
}

@media only screen and (max-width: 767px) {
  .landingPage header {
    width: 100vw;
    height: 15vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.2);
  }
  .landingPage header .title {
    font-size: 6.5vw;
    font-weight: 500;
    margin-left: 5vw;
  }
  .landingPage .landingContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    width: 100vw;
    margin: auto;
  }
  .landingPage .landingContent .basicForm {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    margin-top: 12vw;
    padding-left: 0vw;
  }
  .landingPage .landingContent .basicForm h4 {
    text-align: center;
    font-size: 4vw;
    font-weight: 500;
    margin-bottom: 3vw;
  }
  .landingPage .landingContent .basicForm h6 {
    text-align: center;
    width: 80vw;
    margin: auto;
    font-size: 3vw;
    font-weight: 400;
    line-height: 2;
    margin-bottom: 3vw;
  }
  .landingPage .landingContent .basicForm form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 3vw;
  }
  .landingPage .landingContent .basicForm form input {
    width: 90vw;
    height: 13vw;
    padding-left: 0;
    margin-right: 0;
    border: 1px solid #707070;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    -webkit-box-shadow: 0px 6px 9px #00000029;
            box-shadow: 0px 6px 9px #00000029;
    border: 1px solid #707070;
    border-radius: 1vw;
    margin: auto;
    margin-bottom: 3vw;
    text-align: center;
  }
  .landingPage .landingContent .basicForm form button {
    width: 90vw;
    height: 13vw;
    letter-spacing: 3px;
    color: #f2f2f2;
    background: #000000 0% 0% no-repeat padding-box;
    -webkit-box-shadow: 0px 6px 9px #00000029;
            box-shadow: 0px 6px 9px #00000029;
    border: 1px solid #707070;
    border-radius: 1vw;
    outline: none;
    cursor: pointer;
    margin: auto;
  }
  .landingPage .landingContent .basicForm .apps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .landingPage .landingContent .basicForm .apps .getItOn {
    margin-top: 4vw;
    font-size: 3.5vw;
    font-weight: 500;
    text-align: center;
    width: 100%;
  }
  .landingPage .landingContent .basicForm .apps .appContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 2vw;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .landingPage .landingContent .basicForm .apps .appContainer .appStores {
    width: 9vw;
    height: 9vw;
    margin-right: 1vw;
  }
  .landingPage .landingContent .basicForm .apps .appContainer .appStores img {
    width: 100%;
    height: auto;
  }
  .landingPage .landingContent .banner {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
  }
  .landingPage .landingContent .banner .bannerImg {
    -webkit-transform: translateY(16%);
            transform: translateY(16%);
    width: 70vw;
    height: 70vw;
    margin: auto;
    background-color: #FFDE59;
    border-radius: 50%;
  }
  .landingPage .landingContent .banner .bannerImg img {
    width: 100%;
    height: auto;
  }
  .landingPage .hamContent {
    position: absolute;
    background-color: #FFDE59;
    z-index: 10;
    top: 15vw;
    width: 96vw;
    height: 140vw;
    margin-left: 2vw;
    border-radius: 3vw;
  }
  .landingPage .hamContent .mail {
    position: absolute;
    width: 100%;
    text-align: center;
    text-decoration: none;
    margin-top: 10vw;
    color: #090909;
    font-size: 4.5vw;
    font-weight: 500;
  }
  .landingPage .hamContent .mobNum {
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 20vw;
    color: #090909;
    text-decoration: none;
    font-size: 4.5vw;
    font-weight: 500;
  }
  .landingPage .hamContent div {
    margin-top: 90vw;
  }
  .landingPage .hamContent div p {
    position: relative;
    font-size: 5vw;
    font-weight: 500;
    text-align: center;
    margin-bottom: 5vw;
  }
  .landingPage .hamContent div form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 3vw;
  }
  .landingPage .hamContent div form input {
    width: 90vw;
    height: 13vw;
    padding-left: 0;
    margin-right: 0;
    border: 1px solid #707070;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    -webkit-box-shadow: 0px 6px 9px #00000029;
            box-shadow: 0px 6px 9px #00000029;
    border: 1px solid #707070;
    border-radius: 1vw;
    margin: auto;
    margin-bottom: 3vw;
    text-align: center;
  }
  .landingPage .hamContent div form button {
    width: 90vw;
    height: 13vw;
    letter-spacing: 3px;
    color: #f2f2f2;
    background: #000000 0% 0% no-repeat padding-box;
    -webkit-box-shadow: 0px 6px 9px #00000029;
            box-shadow: 0px 6px 9px #00000029;
    border: 1px solid #707070;
    border-radius: 1vw;
    outline: none;
    cursor: pointer;
    margin: auto;
  }
}

@media only screen and (min-width: 1000px) {
  .content-mobile {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  .content-desktop {
    display: none;
  }
  .content-mobile {
    display: block;
  }
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hamRotate.active {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hamRotate180.active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.line {
  fill: none;
  -webkit-transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #000;
  stroke-width: 2.5;
  stroke-linecap: round;
}

.ham4 .top {
  stroke-dasharray: 40 121;
}

.ham4 .bottom {
  stroke-dasharray: 40 121;
}

.ham4.active .top {
  stroke-dashoffset: -68px;
}

.ham4.active .bottom {
  stroke-dashoffset: -68px;
}
/*# sourceMappingURL=style.css.map */